body{
    background-color: rgb(186, 166, 225);
    font: +25px 'Marker Felt', fantasy;

}
h1{
    text-align: center;
    color: rgb(57, 12, 75);
}
p {
    text-align: center;
    color: rgb(57, 12, 75);
}
#input-content{
    display: flex;
    justify-items: center;
    align-items: center;
}
input{
    font-size: +20px;
    font-family: cursive;
    background-color: rgb(228, 196, 244);
}
span {
    font-size: 300px;
}
#output-emoji{
    text-align: center;
}
button{
    background-color: rgb(57, 12, 75);
    font-family:'Courier New', Courier, monospace;
    font-size: +20px;
    color: lavender;

}